BlazorApp/bin/
BlazorApp/obj/
DataRepository/obj/DataRepository.csproj.nuget.dgspec.json
DataRepository/obj/
SignupWeb/bin/
SignupWeb/obj/
RazorClassLibrary/bin/
RazorClassLibrary/obj/
DatabaseRepository/bin/
DatabaseRepository/obj/
BlazorWebAssembly/Client/bin/
BlazorWebAssembly/Client/obj/
BlazorWebAssembly/Server/bin/
BlazorWebAssembly/Server/obj/
.vs/
SignupWeb/Client/bin/Debug/net6.0/wwwroot/_framework/System.Runtime.Numerics.dll.gz
SignupWeb/Client/bin/
SignupWeb/Client/obj/
SignupWeb/Server/obj/
SignupWeb/Shared/obj/
SignupWeb/Server/bin/
.vscode/
